body{
    font: 12pt Arial;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%,
    rgba(30,15,38,1) 86%,rgba(105,52,132,1)100%);
}
nav{
    background: rgba(105,52,132,1);
    background: linear-gradient(0deg,rgba(105,52,132,1)44%,
    rgba(0,0,0,1)100%);
    text-align: right;
    padding:  10px;
}
nav li{
    display: inline-block;
    margin: 0 0 0 15px;
    padding: 10px;
}
nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.titulo{
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 40px;
    color: aliceblue;
    padding: 10px;
}
.sub-titulo{
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    color: aliceblue;
    padding: 10px;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 100px 0;
}
.produtos img{
    width: 200px;
    height: 200px;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    margin-top: 10px;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #693484;
    border-radius: 10px 20px 10px 40px;
}